body, html {
    height: 100%;
    /* background-image: var(--bs-gradient); */
}

/* h1 { */
    /* font-family: 'Bodoni Moda', serif; */
    /* font-weight:900;  */
    /* font-weight: bold; */
/* } */

/* p { */
    /* font-family: 'Bodoni Moda', serif; */
/* } */


.grid-container {
    display: grid;
    grid-template-rows: 25vw, 25vw, 25vw, 25vw;
    background-color: #6faac5;
}



.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image so the text is easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/ProfilePic.jpg");
  height: 55vh;
  max-width: 50vw;

  /* Position and center the image to scale nicely on all screens */
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  /* transform: translate(0vw, -5vh); */
  
  /* sets grid position */
  /* grid-column-start: 1;
  grid-column-end: 4; */
  grid-row-start: 1;
  grid-row-end: 4;
}

.hero-text {
  text-align: center;
  /* position: absolute; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  color: white;
  font-family: 'Bodoni Moda', serif;
  /* grid-column-start: 1;
  grid-column-end:5; */
}

.bg-magenta {
    background: rgb(41, 3, 41);
}

/* .nav-link {
    font-weight: bold; 
} */

.navbar-text {
    font-style: italic;

}

#navbarText {
    font-family: 'bodoni moda', serif;
}

.navbar-brand {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
}