body {
    color: rgb(41, 3, 41);
}
h1 {
    font-family: 'Bodoni Moda', serif;
    z-index: 2; 
    position: relative; 
    text-align: center; 
    color: rgb(41, 3, 41);
}

p {
    line-height: 1.2;
}

li {
    list-style-type: none;
}

.background-animation {
    z-index: 1;
    position: fixed;
    min-width: 100vw; 
    min-height: 100vh;
}

.grid-container {
    position: absolute;
    z-index: 2;
    margin-top: 11vh;
    display: grid;
    align-items: center;
    align-self: left;
    grid-template-columns: 14.1vw 14.1vw 14.1vw 14.1vw 14.1vw 14.1vw 14.1vw; /*Make the grid smaller than the container*/
    grid-template-rows: 38vw 10vw 10vw 12vw 50vw;
  }
   
/* .grid-container > div { */
  /* background-color: rgba(255, 255, 255, 0.8); */
  /* text-align: center; */
  /* padding: 10vw 1vw; */
  /* font-size: 2em; */
/* } */

.grid-projects {
    position: relative;
    z-index: 2;
    margin-top: 20vh;
    display: grid;
    align-items: center;
    align-self: left;
    grid-template-columns: 
    4vw 
    9.3vw 9.3vw 9.3vw
    4vw 
    9.3vw 9.3vw 9.3vw 
    4vw 
    9.3vw 9.3vw 9.3vw 
    4vw; /*Make the grid smaller than the container*/
    grid-template-rows: 10vw 10vw 10vw 10vw 10vw 10vw 10vw;
  }

.project-image {
  margin-top: 1vw;
  /* filter: sepia(.5); */
  height: 20vw;
  max-width: 85%;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  /* object-position: 100% 50%; */
}

.hero-image {
  min-height: 100%;
  max-width: 100%;
  background-repeat: no-repeat;
  object-fit: cover;
  position: relative;
  object-position: 25% 100%;
  grid-column: 1 / 3;
  box-shadow: -1vw 1vw .8vw black;
}

.hero-text {
  text-align: center;
  color: rgb(41, 3, 41);
  font-family: 'Bodoni Moda', serif;
  grid-column-start: 3;
  grid-column-end: 8;
  font-size: 3.5vw;
}

.bio-bubble {
    border-radius: .5vw;
    height: 90%;
    width: 90%;
    margin-left: 5%;
    margin-top: 5%;
    grid-column: 1/5;
    grid-row: 2/5;
    box-shadow: 0vw 0vw .5vw .5vw rgba(255, 255, 255, 0.8) inset, 
    -.5vw .5vw 1vw black; 
}

.bio {
    font-size: 1.9vw;
    text-indent: 1vw;
    margin-left: 1.5vw;
    margin-right: 1.5vw;
    margin-top: 1vw;
    text-align: justify;
    font-family: bodoni;
    color: rgb(41, 3, 41);
}

.sub-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%; /*Make the grid smaller than the container*/
    grid-column: 5/8;
}

.skill-bubble {
    /* shape */
    border-radius: .5vw;
    width: 98%;
    height: 90%;
    box-shadow: 0vw 0vw .5vw .5vw rgba(255, 255, 255, .8) inset, 
    -.5vw .5vw 1.2vw black;
    /* inner text */
    color: rgb(41, 3, 41);
    font-family: bodoni;
    font-size: 1.5vw;
    text-align: center;
}

.skill-container {
    margin-top:-5vw;
    grid-column: 5/8;
    grid-row: 2/4;
}

.tools {
    width: 98%;
    height: 95%;
    color: rgb(41, 3, 41);
    font-weight: bold;
    grid-column: 1;
    grid-row: 2/3;
    margin-top: .5vw;
}

.lang {
    width: 98%;
    height: 95%;
    color: rgb(41, 3, 41);
    font-weight: bold;
    grid-column: 2;
    grid-row: 2/3;
    margin-top: .5vw;
}

.skills {
    width: 98%;
    height: 95%;
    color: rgb(41, 3, 41);
    font-weight: bold;
    grid-column: 3;
    grid-row: 2/3;
    margin-top: .5vw;
}

.video-container {
    grid-column-start: 2;
    grid-column-end: 7;
    background-color: black;
    color: white;
    font-size: 15vw;
    text-align: center;
    margin-top: 10%;
    height: 80%;
}

.bubble-projects {
    /* shape */
    border-radius: .5vw;
    width: 98%;
    height: 90%;
    box-shadow: 0vw 0vw .5vw .5vw rgba(255, 255, 255, .8) inset, 
    -.5vw .5vw 1vw black;
    /* inner text */
    color: rgb(41, 3, 41);
    font-family: bodoni;
    font-size: 1.5vw;
    text-align: center;
}

.button {
    border-radius: .5vw;
    /* border-color: brown; */
    /* background-color: rgba(0, 0, 0, 0); */

    background-color: rgb(41, 3, 41);
    color: white;
    /* color: rgb(41, 3, 41); */
    font-weight: bold;
    font-size: 1vw;
    position: relative;
    /* left: 1vw;
    top: 1vw; */
    width: 12vw;
    height: 4vw;
    box-shadow: -.3vw .3vw .4vw rgba(0, 0, 0, .75), 0vw 0vw .5vw .1vw white inset;

    /* cursor: pointer; */
    transition-duration: 0.4s;
}

.button:hover {
    /* background-color: rgb(41, 3, 41); */
    background-color: rgba(0, 0, 0, 0);
    color: rgb(41, 3, 41);
    /* color: white; */
}
/* edited Bootstrap classes */
.bg-magenta {
    background: rgb(41, 3, 41);
}

/* .nav-link {
    font-weight: bold; 
} */

.navbar-text {
    font-style: italic;
}

#navbarText {
    font-family: 'bodoni moda', serif;
}

.navbar-brand {
    font-family: 'Bodoni Moda', serif;
    font-weight: 700;
}
