.vert-nav {
    display: none;
}
.circle-nav {
    background-color: rgba(0,0,0,0);

    border-color: #39918C;
    border-color: #2F435A;
    border-radius: 1rem;
    border-style:solid;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;

    margin-left: 1rem;
    z-index: 0;
    position: fixed;

    text-align: right;
    font-family: 'Playfair Display SC', serif, 'Erica One', cursive;
    font-weight: 900;
    font-style: italic;
    color: rgba(0,0,0,0);

}
.circle-nav:hover {
    background-color: #39918C;
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .75rem;
    transform:translate(-.25rem,-.5rem);

    border-color: rgba(0,255,255,.2);
    border-width: 1rem;

    color: rgba(0,0,0,1);
}

.first {
    margin-top: 40vh;
    animation: circle-one .5s ease-in;
}
.second {
    margin-top: 44vh;
    animation: circle-two .75s ease-in;
}
.third {
    margin-top: 48vh;
    animation: circle-three 1s ease-in;
}
.fourth {
    margin-top: 52vh;
    animation: circle-four 1.25s ease-in;
}

.nav-hover{
    transition: .3s all ease !important;
}
.nav-hover.active{
    opacity: 1;
}

@media (min-width: 1250px) {
    .vert-nav{
        display: initial;
        z-index: 5;
        position: relative;
    }
}


.ball {

    width: 5vw;
    height: 5vw;
    border-radius: 50%;

    border-style: solid;
    border-width: 4px;
    border-color: rgb(42, 42, 42);
    background-color: rgb(242, 242, 242,0);

    margin-left: 15vw;
    margin-right: auto;
    margin-top: 15vh;
    animation: bounce 1.5s steps(11) infinite;
    overflow-x: hidden;

    position: absolute;
}

@keyframes  bounce {
    0% {
        width: 5vw;
        height: 5vw;
        transform: translate(0vw,0vh);
    }
    16.66% {
        width: 5vw;
        height: 5vw;
        transform: translate(0vw,5vh);
    }
    24.99% {
        width: 5vw;
        height: 5vw;
        transform: translate(0vw, 20.0vh);
    }
    33.33% {
        width: 4.0vw;
        height: 6.0vw;
        transform: translate(.5vw, 28.8vh);
    }
/* added for blend */
    36% {
        width: 4.0vw;
        height: 8.0vw;
        transform: translate(.5vw, 40vh);
    }
/* above added for blend */

    41.66% {
        transform: translate(-2vw, 51.8vh);
        width: 9.0vw;
        height: 3vw;
    }
    50.99% {
        transform: translate(-2.5vw, 54vh);
        width: 10.0vw;
        height: 2.0vw;
    }
    52.90% {
        transform: translate(-2vw, 51.8vh);
        width: 9.0vw;
        height: 3.0vw;
    }

/* added for blending */
    54% {
        transform: translate(1.5vw, 35vh);
        width: 2.0vw;
        height: 6.0vw;
    }
/* above added for blending */

    58.33% {
        transform: translate(1vw, 15vh);
        width: 3.0vw;
        height: 8.0vw;
    }
    /* 58.33% {

    } */
    66.66% {
        transform: translate(.5vw, 0vh);
        width: 4.0vw;
        height: 6.0vw;
    }
    /* 75% {

    }
    83.33% {

    }
    91.66% {

    }
    100% {
        transform: translate(0vw,0vh);
    } */
}
@keyframes circle-one {
    0%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }
    15%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }

    25% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
}
@keyframes circle-two {
    10% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
    20%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }
    60%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }

    75% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
}
@keyframes circle-three {
    40% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
    55%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }
    73%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }

    85% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
}
@keyframes circle-four {
    55% {
        background-color: rgba(0,0,0,0);
        width: 1rem;
        height: 1rem;
        margin-left: 1rem;
        transform: translate(0rem,0rem);

        border-color: #2F435A;
        border-radius: 1rem;
        border-style:solid;
        border-radius: 50%;

        border-width: .2rem;
    }
    70%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }
    100%{
        background-color: #39918C;
        width: 1.5rem;
        height: 1.5rem;
        margin-left: .75rem;
        transform:translate(-.25rem,-.5rem);
    
        border-color: rgba(0,255,255,.2);
        border-width: 1rem;
    
        color: rgba(0,0,0,1);
    }
}
:root * {
    /* Pause the animation */
    animation-play-state: paused;
    /* Bind the animation to scroll */
    animation-delay: calc(var(--scroll) * -1s);
    /* These last 2 properites clean up overshoot weirdness */
    animation-iteration-count: 1;
    animation-fill-mode: both;
  }