  .active.contact-fade-left {
    animation: fade-left 1s ease;
    animation-fill-mode: forwards;
  }
  .active.contact-button-right {
    animation: fade-right 1s ease;
    animation-fill-mode: forwards;
  }

  @keyframes contact-fade-left {
    0% {
      transform: translateX(-25vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes contact-fade-right {
    0% {
      transform: translateX(25vw);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.contact-position {
    margin-top: 1%;
}
.contact-page {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding-top: 6vh;
    background-color:#D0B49F;
}
.contact-big-header {
    font-size: 3rem;
    text-align: center;
    /* text-shadow: -.15rem .15rem .12rem rgba(0,0,0,.8); */
    /* color: #14365d; */
    color: rgb(15,15,15);
}
.contact-button {
    width: 40%;
    height: 2.5rem;
    text-align: center;
    font-size: .8rem;
    background-color: rgba(0,0,0,0);
    border-color: rgb(15,15,15);
    border-width: .2rem;
    /* color: #fdf5df; */
    color: rgb(15,15,15);
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-style: solid;
    margin-bottom: 2%;
    margin-right: 15%;
    border-radius: 25px;
    cursor: pointer;
}
.contact-button:hover {
    background-color: rgb(15,15,15);
    color: #D0B49F;
    border-color: rgb(15,15,15);
}

.contact-contents {
    text-align: right;
    margin-bottom: 20%;
}

.contact-header {
    text-align:left;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    color:#2F435A;
    /* text-shadow: -.09rem .08rem rgba(0,0,0,.8); */
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 10%;
}

.contact-sub-header {
    text-align: left;
    /* color:#fdf5df; */
    color: rgb(15,15,15);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 10%;
}
@media (min-width: 300px){
    .contact-button {
        font-size: 1rem;
    }
}

@media (min-width: 600px) {
    .contact-big-header {
        font-size: 3rem;
        /* text-shadow: -.15rem .15rem .1rem rgba(0,0,0,.8); */
    }
}
@media (min-width: 768px) {
    .contact-big-header {
        font-size: 8.5vw;
        /* text-shadow: -.15rem .15rem .15rem rgba(0,0,0,.8); */
        margin-bottom: 2.5%;
    }
    .contact-header {
        font-size: 4vw;
        letter-spacing: .17rem;
        margin-bottom: -.5%;
        /* text-shadow: -.1rem .1rem rgba(0,0,0,.8); */
        margin-bottom: 2%;
    }
    .contact-sub-header {
        font-size: 2vw;
        margin-left: 8%;
    }
    .contact-p {
        margin-left: 15%;
        margin-top: -2%;
        font-size: 1.5vw;
    }
    
    .contact-button {
        text-align: center;
        border-width: .2rem;
        font-size: 1rem;
        width: 20%;
        margin-left: 8%;
        margin-bottom: 3%;
        height: auto;
        width: 16vw;
    }
}
@media (min-width: 1024px) {
    .contact-big-header {
        font-size: 4rem;
        /* text-shadow: -.18rem .18rem .18rem rgba(0,0,0,.8); */
    }
}

@media (min-width: 1250px) {
    .contact-big-header {
        font-size: 5rem;
        /* text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8); */
    }
    .contact-header {
        font-size:2.5rem;
        /* text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8); */
    }
    .contact-sub-header {
        font-size: 1.2rem;
    }
    .contact-button {
        font-size: 1.5rem;
        max-width: 14vw !important;
        height: auto;
    }
}

@media (min-width: 1800px) {
    .contact-big-header {
        font-size: 6rem;
        /* text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8); */
    }
}