h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: black;
}
body {
    background-color: rgb(2,2,2);
    overflow-x: hidden;
}
.pages {
    margin-bottom: 2.5%;
    background-color: rgb(2,2,2);
}
#mobile-view {
    overflow-x: hidden;
    padding:0%;
}
#desktop-view {
    display: none;
}
.featured {
    background-color: rgb(2,2,2);
}
#tablet-view {
    display: none;
}

.big-header {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 5%;
    margin-top: -5%;
    /* color: #14365d; */
    color: black;
}
p {
    font-size: 1rem;
    color:black;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    margin-bottom: .5rem;
}
.project-rows {
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    display:flexbox;
    flex-direction: row;
}
.yellow-box {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border-style: solid;
    border-width: .3rem;
    border-color: black;
    /* background: rgb(167,87,180);
    background: linear-gradient(240deg, rgba(167,87,180,1) 0%, rgba(182,119,179,1) 71%, rgba(195,147,179,1) 100%); */
    background-color: white;
}
.mobile-box {
    margin-bottom: 5%;
    background: rgb(167,87,180);
    background: linear-gradient(240deg, rgba(167,87,180,1) 0%, rgba(182,119,179,1) 71%, rgba(195,147,179,1) 100%);
}
.bio {
    margin-bottom: 1%;
    column-fill: auto;
}
.header {
    font-size: 2rem;
    margin-top: 2%;
    margin-bottom: -.5%;
    color: cyan;
    text-shadow: -.1rem .1rem .08rem rgba(0,0,0,.8);
}
.sub-header {
    font-size: 1rem;
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-bottom: .5%;
}
.right {
    text-align: center;
}
.left {
    text-align: center;
}
.pic-border {
    background-color:#14365d;
    margin-bottom: 2%;
    overflow-x: hidden;
}
.pics {
    height: 100vw;
    object-fit: contain;
    margin-bottom: 1%;
    margin-top: 1%;
    overflow-x: hidden;
}
.descrip {
    max-width: 50%;
}
.project-buttons {
    min-width: 50%;
    max-width: 100%;
    height: 2.5rem;
    text-align: center;
    font-size: 1rem;
    background-color: rgba(0,0,0,0);
    border-color: black;
    border-width: .2rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    border-style: solid;
    margin-bottom:5%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
}
.project-buttons:hover {
    background-color: #14365d;
    color: white;
    border-color: #14365d;
}
.line {
    background-color: black;
    height: .2rem;
}
.languages {
    font-size: 1rem;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin-bottom: 1rem;
}
@media (min-width: 274px) {
    .project-buttons {
        min-width: 40%;
        max-width: 75%;
    }
    .header {
        font-size: 2.5rem;
    }
    .sub-header {
        font-size: 1.3rem;
    }
}
@media (min-width: 402px){
    .big-header {
        font-size: 2.4rem;
    }
    .project-buttons {
        font-size: 1rem;
        border-width: .2rem;
        margin-right: 2%;
        margin-bottom: 2%;
    }
}
@media (min-width: 500px){
    .big-header {
        font-size: 3rem;
    }
    .header {
        font-size: 3rem;
    }
    .sub-header {
        font-size: 1.5rem;
    }
    .project-buttons {
        min-width: 40%;
        max-width: 50%;
    }
}
@media (min-width: 600px){

    .big-header {
        font-size: 4rem;
    }
    p {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    .project-rows {
        margin-top: 2.5%;
        margin-bottom: 2.5%;

    }
    .yellow-box {
        border-width: .2rem !important;
        box-shadow: -.3rem .3rem .2rem .05rem rgba(0,0,0,.8);
    }
    .bio {
        margin-bottom: 1%;
    }
    .header {
        font-size: 3.4rem;
        margin-bottom: -.5%;
        text-shadow: -.05rem .05rem .05rem rgba(0,0,0,.8);
    }
    .sub-header {
        font-size: 2rem;

        padding-bottom: .5%;
    }
    .right {
        column-span: 7;
    }
    .left {
        column-span: 3;
    }

    .descrip {
        max-width: 50%;
    }
    .project-buttons {
        font-size: 1.2rem;
        border-width: .3rem;
        margin-bottom: 2%;
    }

    .languages {
        font-size: 1rem;
        margin-bottom: .5rem;
    }
    }


@media (min-width: 768px){

    #tablet-view {
        display: initial;
    }
    #mobile-view {
        display: none;
    }
    .big-header {
        margin-bottom: 2.5%;
        margin-top: 0%;
    }
    .mobile-box {
        border-style: solid;
        border-width: .3rem;
        border-color:#fdf5df;
        box-shadow: -.35rem .35rem .3rem .05rem rgba(0,0,0,.8);
        margin-bottom: 5%;
        border-radius: 10px;
        background: rgb(167,87,180);
        background: linear-gradient(240deg, rgba(167,87,180,1) 0%, rgba(182,119,179,1) 71%, rgba(195,147,179,1) 100%);
    }
    p {
        font-size: 1.5vw;
    }
    .yellow-box {
        border-width: .3rem;
        box-shadow: -.4rem .4rem .3rem .1rem rgba(0,0,0,.8);
    }
    .bio {
        margin-bottom: 1%;
    }
    .header {
        font-size: 4vw;
        text-shadow: -.08rem .08rem .08rem rgba(0,0,0,.8);
    }
    .sub-header {
        font-size: 2vw;
        padding-bottom: .5%;
    }
    .pics {
        width: 100%;
        height: 96%;
        object-fit: fill;
        transform: translate(0%,2%);
    }
    .descrip {
        max-width: 50%;
    }
    .project-buttons {
        border-width: .2rem;
        font-size: 1rem;
        height: auto;
        margin-bottom: 0%;
    }
    .languages {
        font-size: 1.8vw;
        margin-bottom: .5rem;
    }
    .right {
        text-align: right;
        column-span: 7;
    }
    .left {
        text-align: left;
        column-span: 5;
    }  
}

@media (min-width: 1024px){
    #tablet-view {
        display: none;
    }
    #desktop-view {
        display: initial;
    }
    .yellow-box {
        border-width: .3rem;
        box-shadow: -.6rem .6rem .3rem .1rem rgba(0,0,0,.8);
    }
    .bio {
        margin-bottom: 1%;
    }
    .header {
        text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8);
    }
    .sub-header {
        padding-bottom: .5%;
    }
    .pics {
        width: 100%;
        height: 75%;
        object-fit: cover;
        transform: translate(0%,15%);
    }
    .descrip {
        max-width: 50%;
    }
    .project-buttons {
        border-width: .3rem;
        margin-bottom: 2%;
    }
    
}

/* @media (min-width: 1250px){
    
    .big-header {
        font-size: 5rem;
    }
    .yellow-box {
        border-width: .3rem;
        box-shadow: -.8rem .8rem .5rem .1rem rgba(0,0,0,.8);
    }
    .header {
        text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8);
    }
    .pics {
        width: 100%;
    }
    .project-buttons {
        margin-bottom: 2%;
    }
} */

@media (min-width: 1250px){
    .header {
        font-size:2.5rem;
        text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8);
    }
    .sub-header {
        font-size: 1.5rem;
    }
    p {
        font-size: 1rem;
    }
    .languages {
        font-size: 1rem;
    }
    .project-buttons {
        font-size: 1.2rem;
        min-width: 20%;
        height: auto;
    }
    .yellow-box {
        margin-bottom: -2%;
        border-style: solid;
        border-width: .11em !important;
        box-shadow: -.5rem .5rem .5rem .1rem rgba(0,0,0,.8) !important;
    }
}

@media (min-width: 1800px){
    .big-header {
        font-size: 6rem;
    }
    .project-rows {
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
    .yellow-box {
        border-width: .3rem;
        box-shadow: -.8rem .8rem .5rem .1rem rgba(0,0,0,.8);
    }
    .header {
        text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8);
    }

    .pics {
        width: 100%;
    }
    .project-buttons {
        border-width: .3rem;
        margin-bottom: 2%;
    }
}