.side-box {
    display: grid;
    margin-top: 15%;
}
.middle-box {
    display: grid;
    margin-top: 5%;
    margin-bottom: 10%;
}

.work-header {
    text-align:center;
    font-size: 3rem;
    letter-spacing: .17rem;
    margin-bottom: -.5%;
    color:cyan;
    text-shadow: -.1rem .1rem rgba(0,0,0,.8);
    margin-bottom: 2%;
}
.work-sub-header {
    text-align: left;
    color:#9525A8;
    font-family: 'Playfair Display SC', serif, 'Erica One', cursive;
    font-weight: bold;
    font-size: 1.2rem;
    margin-left: 8%;
}
.work-p {
    margin-left: 15%;
    margin-top: -2%;
    font-size: 1rem;
}

.work-button {
    background-color: rgba(0,0,0,0);
    border-color: #9525A8;
    border-width: .3rem;
    color: #9525A8;
    font-family: 'News Cycle', sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    border-style: solid;
    width: 40%;
    margin-left: 8%;
    text-align: center;
    margin-bottom: 3%;
}
.work-button:hover {
    background-color: #9525A8;
    color: yellow;
}
.work-pics {
    width: 100%;
    border-style: solid;
    border-width: .3rem;
    border-color: yellow;
}