#work-tablet-view {
    display: none;
}
.side-box {
    display: grid;
}
.middle-box {
    display: grid;
}

.work-big-header {
    font-size: 2.2rem;
    text-align: center;
    /* text-shadow: -.15rem .15rem .12rem rgba(0,0,0,.8); */
    color: #14365d;
    /* margin-bottom: 10%; */
}
.work-header {
    text-align:center;
    font-size: 2rem;
    letter-spacing: .1rem;
    color:cyan;
    text-shadow: -.09rem .08rem rgba(0,0,0,.8);
    margin-bottom: 2%;
    margin-top: 10%;
}
.work-sub-header {
    text-align: left;
    color:black;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 6%;
}
.work-p {
    color: black;
    margin-left: 15%;
    font-size: 1rem;
}
.work-pics {
    width: 108%;
    height: 50%;
    margin-left: -4%;
    margin-bottom: 1rem;
}

.work-button {
    background-color: rgba(0,0,0,0);
    border-color: black;
    border-width: .2rem;
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;
    width: 50%;
    height: 2.5rem;
    text-align: center;
    margin-bottom: 2%;
    border-radius: 25px;
}
.work-button:hover {
    background-color: #14365d;
    color: white;
    border-color: #14365d;
}

.line {
    background-color: black;
    height: .2rem;
    width: 106%;
    margin-left: -3%;
    margin-bottom: 10%;
}
@media (min-width: 402px) {
    .work-big-header {
        font-size: 2.4rem;
    }
    .work-header{
        font-size: 2.2rem;
    }
    .work-sub-header {
        font-size: 1.2rem;
    }
}
@media (min-width: 500px) {
    .work-big-header {
        font-size: 3rem;
    }
    .work-header{
        font-size: 2.7rem;
    }
    .work-sub-header {
        font-size: 1.7rem;
    }
}

@media (min-width: 600px) {
    .work-big-header {
        font-size: 4rem;
        /* text-shadow: -.15rem .15rem .1rem rgba(0,0,0,.8); */
    }    .work-header{
        font-size: 2.5rem;
    }
    .work-sub-header {
        font-size: 1.5rem;
    }
}
@media (min-width: 768px) {
    #mobile-view {
        display: none;
    }
    #work-tablet-view {
        display: initial;
    }
    .side-box {
        margin-top: 10%;
    }
    .middle-box {
        display: grid;
        margin-bottom: 10%;
    }
    .work-big-header {
        /* font-size: 4rem; */
        /* text-shadow: -.15rem .15rem .15rem rgba(0,0,0,.8); */
        margin-bottom: 2.5%;
    }
    .work-header {
        font-size: 4vw;
        letter-spacing: .17rem;
        margin-bottom: -.5%;
        text-shadow: -.1rem .1rem rgba(0,0,0,.8);
        margin-bottom: 2%;
    }
    .work-sub-header {
        font-size: 2vw;
        margin-left: 8%;
    }
    .work-p {
        margin-left: 15%;
        margin-top: -2%;
        font-size: 1.5vw;
    }

    
    .work-button {
        border-width: .2rem;
        /* font-size: 2vw; */
        width: 40%;
        margin-left: 8%;
        margin-bottom: 3%;

        /* color: #fdf5df; */
        color: black;
        font-size: 1rem;
        /* max-width: 30%; */
        height: auto;
    }


    .work-pics {
        border-width: .3rem;
        width: 100%;
        height: auto;
        margin-left: 0%;
        border-style: solid;
        border-color:#fdf5df;
        margin-bottom: 1rem;
        border-radius: 10px;
        box-shadow: -.3rem .3rem .2rem .05rem rgba(0,0,0,.8);
    }
}
@media (min-width: 1024px) {
    .work-button {
        height: 4vw;
    }
}

@media (min-width: 1250px){
    .work-big-header {
        font-size: 5rem;
        /* text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8); */
    }
    .work-header {
        font-size:2.5rem;
        text-shadow: -.1rem .1rem .1rem rgba(0,0,0,.8);
    }
    .work-sub-header {
        font-size: 1.5rem;
    }
    .work-p {
        font-size: 1rem;
    }
    .work-button {
        font-size: 1.2rem;
        max-width: 30%;
        height: auto;
    }
    .work-pics {
        border-width: .11em !important;
        border-color: yellow;
    }
}

@media (min-width: 1800px){
    .work-big-header {
        font-size: 6rem;
        /* text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8); */
    }
}