#tablet-view {
    display: none;
}
.side-box {
    display: grid;
}
.middle-box {
    display: grid;
}

.work-big-header {
    font-size: 3rem;
    text-align: center;
    text-shadow: -.15rem .15rem .12rem rgba(0,0,0,.8);
}
.work-header {
    text-align:center;
    font-size: 2.2rem;
    letter-spacing: .1rem;
    color:cyan;
    text-shadow: -.09rem .08rem rgba(0,0,0,.8);
    margin-bottom: 2%;
    margin-top: 10%;
}
.work-sub-header {
    text-align: left;
    color:#fdf5df;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    margin-left: 6%;
}
.work-p {
    color: #fdf5df;
    margin-left: 15%;
    font-size: 1rem;
}

.work-button {
    background-color: rgba(0,0,0,0);
    border-color: black;
    border-width: .2rem;
    color: #fdf5df;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    border-style: solid;
    width: 50%;
    text-align: center;
    margin-bottom: 10%;
    border-radius: 25px;
}
.work-button:hover {
    background-color: #fdf5df;
    color: black;
    border-color: #fdf5df;
}
.work-pics {
    width: 100%;
    border-style: solid;
    border-width: .2rem;
    border-color:#fdf5df;
    margin-bottom: 1rem;
    border-radius: 10px;
    box-shadow: -.3rem .3rem .2rem .05rem rgba(0,0,0,.8);
}

@media (min-width: 600px) {
    .work-big-header {
        font-size: 3rem;
        text-shadow: -.15rem .15rem .1rem rgba(0,0,0,.8);
    }
}
@media (min-width: 768px) {
    #mobile-view {
        display: none;
    }
    #tablet-view {
        display: initial;
    }
    .side-box {
        margin-top: 10%;
    }
    .middle-box {
        display: grid;
        margin-bottom: 10%;
    }
    .work-big-header {
        font-size: 4rem;
        text-shadow: -.15rem .15rem .15rem rgba(0,0,0,.8);
        margin-bottom: 2.5%;
    }
    .work-header {
        font-size: 3rem;
        letter-spacing: .17rem;
        margin-bottom: -.5%;
        text-shadow: -.1rem .1rem rgba(0,0,0,.8);
        margin-bottom: 2%;
    }
    .work-sub-header {
        font-size: 1.2rem;
        margin-left: 8%;
    }
    .work-p {
        margin-left: 15%;
        margin-top: -2%;
        font-size: 1rem;
    }
    
    .work-button {
        border-width: .3rem;
        font-size: 1.2rem;
        width: 40%;
        margin-left: 8%;
        margin-bottom: 3%;
    }
    .work-pics {
        border-width: .3rem;
    }
}
@media (min-width: 1024px) {
    .work-big-header {
        font-size: 4rem;
        text-shadow: -.18rem .18rem .18rem rgba(0,0,0,.8);
    }
}

@media (min-width: 1250px){
    .work-big-header {
        font-size: 5rem;
        text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8);
    }
}

@media (min-width: 1800px){
    .work-big-header {
        font-size: 6rem;
        text-shadow: -.2rem .2rem .2rem rgba(0,0,0,.8);
    }
}